<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
       xmlns:th="http://thymeleaf.org" lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,  initil-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>VETA EQUISPORT</title>
    <link rel="stylesheet" href="/CSS/style.csss">
    <script scr="script.js" defer></script>
</head>
<body>
    <header class ="header">
        <div class="wrapper">
            <p th:text="${user}"></p>
            <div class="header_wrapper">
                <div class="header_logo">
                    <a href="/" class="header_logo-link">
                       <img src="/img/svg/logo.svg" alt="VETA EQUISPOR" class="header_logo-pic"> 
                    </a>
                </div>
        
                <nav class="header_nav">
                    <ul class="header_list">
                        <li class="header_item">
                            <a href="#!" class="header_link">Главная</a>
                        </li>
                        <li class="header_item">
                            <a href="#!" class="header_link">Календарь</a>
                        </li>
                        <li class="header_item">
                            <a href="#!" class="header_link">Серии турниров</a>
                        </li>
                        <li class="header_item">
                            <a href="#!" class="header_link">Войти</a>
                        </li>
                    </ul>
                </nav>
            </div>


    </header>
    <main class="main">
    <section class="intro">
        <div class="wrapper">
            <h1 class="intro_title">
                VETA EQUISPORT
            </h1>
            <p class="intro_subtitle">
                Компания VETA EQUISPORT – организатор соревнований по конному спорту, а также сопутствующих мероприятий – мастер-классов, тренировочных, учебных, селекционных и выставочных программ. 
            </p>

        </div>
        </section>
    </main>

    <article class="container">
        <div class="block"> 
            <section class="block_item block-item">
                <h2 class="block-item_title">У вас уже есть аккаунт?</h2>
                <button class="block-item_btn signin-btn">Войти</button>
            </section>
            <section class="block_item block-item">
                <h2 class="block-item_title">У вас нет аккаунта?</h2>
                <button class="block-item_btn signup-btn">Зарегистрироваться</button>
            </section>
</article>


        </div>
        <div class="form-box">
            <p th:text ="${loginForm}"></p>
<form th:action="@{/login}" th:object="${loginForm}" th:method="POST" class="form form_signin">
<h3 class="form_title">Вход</h3>
<p>
    <input type="text" th:field="*{login}" name="login" class="form_input" placeholder="Логин">

</p>
<p>
    <input type="password" th:field="*{password}" name="password" class="form_input" placeholder="Пароль">
</p>
<p> 
    <button class="form_btn">Войти</button>
</p>
<p>
    <a href="#" class="form_forgot">Восстановить пароль</a>
</p>

</form>

<div class="form-box">
    <div th:switch="${session.registrationStatus}">
        <p th:case="'LOGIN_EXISTS'">Login is used</p>
        <p th:case="'EMAIL_EXISTS'">Email is used</p>
    </div>
    <p th:text ="${session.registrationStatus}"></p>
    <form th:action="@{/registration}" th:object="${registrationForm}" th:method="POST" class="form form_signup">
    <h3 class="form_title">Регистрация</h3>
    <p>
        <input type="text" th:field="*{login}" name="login" class="form_input" placeholder="Логин">
    
    </p>
    <p>
        <input type="email" th:field="*{email}" name="email" class="form_input" placeholder="Email">
    
    </p>
    <p>
        <input type="password" th:field="*{password}" name="password" class="form_input" placeholder="Пароль">
    </p>
    <p>
        <input type="password" th:field="*{passwordRepeated}" name="passwordRepeated" class="form_input" placeholder="Подтвердите пароль">
    </p>
    <p> 
        <button class="form_btn form_btn_signup">Зарегистрироваться</button>
    </p>
    
    
    </form>

    <div class="form-box">
        <p th:text ="${applicationForm}"></p>
        <form th:action="@{/application}" th:object="${applicationForm}" th:method="POST" class="form form_signup">
            <h3 class="form_title">Подача заявки</h3>
            <p>
                <input type="text" th:field="*{nameParticipant}" name="nameParticipant" class="form_input" placeholder="ФИО участника">

            </p>
            <p>
                <input type="text" th:field="*{horseName}" name="horseName" class="form_input" placeholder="Кличка лошади">

            </p>
            <p>
                <input type="number" th:field="*{rang}" name="rang" class="form_input" placeholder="Номер маршрута">
            </p>
            <p>
                <input type="number" th:field="*{yearOfBirth}" name="yearOfBirth" class="form_input" placeholder="Год рождения участника">
            </p>
            <p>
                <button class="form_btn form_btn_signup">Подать заявку</button>
            </p>

        </form>

        </div>
</body>
</html>